//Variables

$color-main: #2b3035;
$color-letra: rgba(210, 244, 248, 0.877);
$color-fondo: rgba(48, 248, 255, 0.863);

$font-nav: 'Plus Jakarta Sans', sans-serif;

$shadow: 3px 3px 6px black;

$celular: 576px;
$tablet: 1024px;
$desktop: 1025px;