body {
  background: rgb(33, 188, 190);
  background: linear-gradient(0deg, rgba(33, 188, 190, 0.6979166667) 41%, rgba(79, 176, 33, 0.6839110644) 70%);
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2b3035;
  color: rgba(210, 244, 248, 0.877);
  justify-content: space-between;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-shadow: 3px 3px 6px black;
}
nav div h1 {
  margin-left: 30px;
  font-size: 40px;
  align-items: center;
  text-shadow: 3px 3px 6px black;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  height: 100%;
  align-items: center;
  gap: 20px;
}
nav ul li {
  display: flex;
  height: 100%;
  align-items: center;
}
nav ul li:hover {
  background-color: #343a3f;
  height: 100%;
  align-self: center;
}
nav ul a {
  text-shadow: 3px 3px 6px black;
  font-size: 35px;
  color: white;
  text-decoration: none;
}

section.intro {
  display: flex;
  height: 729px;
  justify-content: space-between;
}
section.intro div.img-intro {
  height: 729px;
  background-color: rgb(87, 155, 101);
}
section.intro div.img-intro img {
  height: 563px;
  width: 470.61px;
}
section.intro div.img-intro h3 {
  font-family: "Jost", sans-serif;
  font-size: 25px;
  width: 99%;
  padding: 3px;
}
section.intro div.parrafo-1 {
  height: 543px;
  width: auto;
}
section.intro div.parrafo-1 p {
  padding: 20px;
  font-family: "Jost", sans-serif;
  font-size: 35px;
  width: 95%;
}
section.intro div.aside-img {
  justify-content: flex-end;
  right: 0;
}
section.intro div.aside-img aside {
  height: 729px;
}
section.intro div.aside-img aside img {
  height: 100%;
}

footer {
  height: 120px;
  display: flex;
  background-color: #2b3035;
  text-align: center;
  color: rgba(210, 244, 248, 0.877);
  flex-direction: column;
  justify-content: center;
  font-size: 33px;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: static;
  bottom: 0;
  width: 100%;
}
footer ul li {
  margin: 8px;
  text-shadow: 3px 3px 6px black;
}
footer ul li a {
  text-decoration: none;
  color: rgba(210, 244, 248, 0.877);
  text-shadow: 3px 3px 6px black;
}

article.trofeos-flex section {
  display: flex;
  gap: 30px;
  margin: 5%;
  justify-content: center;
  align-items: stretch;
}
article.trofeos-flex section div {
  border: 15px solid #2b3035;
  border-radius: 10px;
  width: 100%;
  background-color: #2b3035;
}
article.trofeos-flex section div img {
  width: 100%;
  height: auto;
}
article.trofeos-flex section div h2 {
  color: white;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 35px;
}
article.trofeos-flex section div p {
  margin-top: 10px;
  font-size: 22px;
  color: white;
  font-family: "Jost", sans-serif;
}

section.estadisticas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
section.estadisticas table {
  border: 10px solid black;
  border-radius: 20px;
  background-color: rgba(48, 248, 255, 0.863);
  opacity: 83%;
  height: 100%;
  font-family: "Jost", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}
section.estadisticas table tr {
  border: 5px solid black;
}
section.estadisticas table tr.titulo-tabla {
  font-size: 90px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-shadow: 3px 3px 6px black;
}
section.estadisticas table tr.tipos-goles {
  font-size: 50px;
  text-shadow: 3px 3px 6px black;
}
section.estadisticas table tr.est-partidos {
  font-size: 75px;
  text-shadow: 3px 3px 6px black;
}
section.estadisticas div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
}
section.estadisticas div h2 {
  font-family: "Jost", sans-serif;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
section.estadisticas div iframe {
  width: 800px;
  height: 480px;
  align-self: center;
}

section.trayectoria {
  height: 729px;
  display: flex;
  flex-direction: row;
}
section.trayectoria div.imagenes-trayectoria {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(34, 151, 180);
}
section.trayectoria div.imagenes-trayectoria img {
  width: 385px;
  height: auto;
  background-color: rgba(48, 248, 255, 0.863);
}
section.trayectoria div.texto-trayectoria {
  height: 729px;
  opacity: 90%;
  width: auto;
  overflow: hidden;
}
section.trayectoria div.texto-trayectoria p {
  overflow: scroll;
  padding: 20px;
  width: 95%;
  font-size: 31px;
  font-family: "Jost", sans-serif;
  height: 100%;
  text-justify: center;
}
section.trayectoria div.aside-img {
  height: 729px;
  width: auto;
}
section.trayectoria div.aside-img img {
  height: 729px;
  width: auto;
}

section.vida-personal {
  display: flex;
  flex-direction: row;
  height: auto;
}
section.vida-personal div img {
  justify-content: flex-end;
  height: auto;
  width: 600px;
}
section.vida-personal div p {
  padding: 28px;
  text-align: justify;
  font-size: 30px;
  font-family: "Jost", sans-serif;
  height: 100%;
  width: auto;
  text-justify: center;
}

@media (max-width: 576px) {
  body {
    background: linear-gradient(0deg, rgba(33, 188, 190, 0.6979166667) 41%, rgba(79, 176, 33, 0.6839110644) 70%);
  }
  body footer {
    bottom: 0;
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body footer li {
    font-size: 14px;
  }
  body footer a {
    font-size: 14px;
  }
  body nav.nav-bar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  body nav.nav-bar h1 {
    font-size: 80%;
  }
  body nav.nav-bar ul {
    display: flex;
    gap: 4px;
  }
  body nav.nav-bar ul li a {
    font-size: 9px;
  }
  body section.intro {
    width: 100%;
    height: 729px;
    display: flex;
    flex-direction: column;
  }
  body section.intro div.img-intro {
    width: auto;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
  }
  body section.intro div.img-intro img {
    height: 300px;
    width: auto;
  }
  body section.intro div.img-intro h3 {
    font-size: 12px;
  }
  body section.intro div.parrafo-1 {
    height: 200px;
    width: auto;
  }
  body section.intro div.parrafo-1 p {
    padding: 3px;
    font-size: 15px;
  }
  body section.intro div.aside-img {
    height: 200px;
  }
  body section.intro div.aside-img aside {
    height: 200px;
  }
  body section.intro div.aside-img aside img {
    width: auto;
    height: 200px;
  }
  body section.estadisticas {
    display: flex;
    flex-direction: column;
  }
  body section.estadisticas div h2 {
    font-size: 17px;
  }
  body section.estadisticas div iframe {
    width: 270px;
    height: auto;
  }
  body section.estadisticas table {
    width: 300px;
    border: 2px solid black;
  }
  body section.estadisticas table tr th {
    width: 100%;
  }
  body section.estadisticas table tr.titulo-tabla {
    font-size: 22px;
  }
  body section.estadisticas table tr.est-partidos {
    font-size: 20px;
  }
  body section.estadisticas table tr.tipos-goles {
    font-size: 18px;
  }
  body article.trofeos-flex {
    width: 100%;
  }
  body article.trofeos-flex section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body article.trofeos-flex section h2 {
    font-size: 22px;
  }
  body article.trofeos-flex section p {
    font-size: 18px;
  }
  body article.trofeos-flex section div {
    width: 50%;
  }
  body article.trofeos-flex section div img {
    width: 100%;
    height: auto;
  }
  body section.trayectoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body section.trayectoria div.imagenes-trayectoria {
    width: 23vh;
    display: flex;
    flex-direction: row;
  }
  body section.trayectoria div.imagenes-trayectoria img {
    width: 100%;
    height: auto;
  }
  body section.trayectoria div.texto-trayectoria {
    width: 100%;
    align-self: flex-start;
  }
  body section.trayectoria div.texto-trayectoria p {
    font-size: 80%;
  }
  body section.trayectoria div.aside-img {
    width: 0;
    height: 0;
  }
  body section.trayectoria div.aside-img img {
    width: 100%;
    height: auto;
  }
  body section.vida-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  body section.vida-personal div {
    display: flex;
    flex-direction: column;
  }
  body section.vida-personal div p {
    font-size: 14px;
  }
  body section.vida-personal div img {
    order: 3;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 1024px) {
  body {
    background: linear-gradient(0deg, rgba(33, 188, 190, 0.6979166667) 41%, rgba(79, 176, 33, 0.6839110644) 70%);
  }
  nav.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav.nav-bar div h1 {
    font-size: 100%;
  }
  nav.nav-bar ul li a {
    font-size: 100%;
  }
  section.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  section.intro div.img-intro {
    width: 30%;
  }
  section.intro div.img-intro h3 {
    font-size: 17px;
  }
  section.intro div.img-intro img.img-index {
    width: 100%;
    height: auto;
  }
  section.intro div.parrafo-1 {
    padding-top: 20px;
    width: 40%;
    height: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.intro div.parrafo-1 p {
    height: 100%;
    width: 80%;
    font-size: 20px;
  }
  section.intro div.aside-img {
    width: 30%;
  }
  section.intro div.aside-img img {
    width: 100%;
    height: auto;
  }
  section.estadisticas {
    margin: 10px;
    height: 616px;
  }
  section.estadisticas div h2 {
    font-size: 22px;
  }
  section.estadisticas div iframe {
    height: 300px;
    width: 480px;
  }
  section.estadisticas table {
    width: 300px;
    height: 400px;
  }
  section.estadisticas table tr th {
    width: 100%;
    font-size: 24px;
  }
  section.estadisticas table tr.titulo-tabla {
    font-size: 100%;
  }
  section.estadisticas table tr.est-partidos {
    font-size: 22px;
  }
  section.estadisticas table tr.tipos-goles {
    font-size: 19px;
  }
  article.trofeos-flex {
    width: 100%;
  }
  article.trofeos-flex section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  article.trofeos-flex section div {
    width: 50%;
  }
  article.trofeos-flex section div img {
    width: 100%;
    height: auto;
  }
  section.trayectoria {
    width: 100%;
    height: 616px;
  }
  section.trayectoria div.imagenes-trayectoria {
    width: 40%;
  }
  section.trayectoria div.imagenes-trayectoria img {
    width: 100%;
    height: auto;
  }
  section.trayectoria div.texto-trayectoria {
    width: 60%;
    padding: 7px;
  }
  section.trayectoria div.texto-trayectoria p {
    font-size: 15px;
  }
  section.trayectoria div.aside-img {
    width: 40%;
  }
  section.trayectoria div.aside-img img {
    width: 100%;
    height: auto;
  }
  section.vida-personal {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  section.vida-personal div {
    display: flex;
    flex-direction: column;
  }
  section.vida-personal div p {
    font-size: 100%;
  }
  section.vida-personal div img {
    order: 3;
    width: 100%;
    height: auto;
  }
  footer {
    width: 100%;
  }
  footer li {
    font-size: 60%;
  }
  footer a {
    font-size: 100%;
  }
}/*# sourceMappingURL=main.css.map */